{
  "IS_DEV": "true",
  "JWT_SIGNING_KEY": "SIGNING_KEY",
  "TOKEN_EXPIRATION_TIME": "60",
  "FLASK_SECRET": "RANDOM_STRING",
  "DATABASE_URL": "postgresql://...",
  "REFRESH_TOKEN_SALT": "RANDOM_STRING"
}
