{
  "IS_DEV": "true",
  "JWT_SIGNING_KEY": "SIGNING_KEY",
  "TOKEN_EXPIRATION_TIME": "60",
  "FLASK_SECRET": "RANDOM_STRING",
  "DATABASE_URL": "postgresql://...",
  "REFRESH_TOKEN_SALT": "RANDOM_STRING",
  "LOGSERVER_KEY": "RANDOM_STRING",
  "REMOTE_LOG_DB_KEY": "RANDOM_STRING",
  "LOG_SERVER_ENDPOINT": "https://your-end-point",
  "BACKEND_WEBHOOK_URL": "https://discord.com/api/...",
  "BOT_ACCESS_KEY": "RANDOM_STRING",
  "MAIL_USER": "user@provider.com",
  "MAIL_PASS": "hunter2",
  "NOTIFICATION_KEY": "RANDOM_STRING"
}
